/* CSS GRID 1*/

.grid h1 {
  text-align: center;
  margin-top: 100px;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
  margin: 0 auto;
  grid-gap: 20px;
}

.grid1 > div:nth-child(n + 4) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: center;
}
.grid1 > div.anuncio {
  grid-column: 1;
  grid-row: 2 / 5;
  display: block;
  border-top: 10px solid gold;
}
@media (max-width: 720px) {
  .grid1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid1 > div:nth-child(n + 4) {
    display: block;
  }
  .grid1 > div.anuncio {
    grid-column: auto;
    grid-row: auto;
    order: -1;
  }
}
