body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}
.logo-item {
  width: 3rem;
}
.logo-item img {
  max-width: 100%;
  border-radius: 100%;
  object-fit: cover;
}
.main-header {
  background-color: #1d1e20;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.main-header a {
  color: white;
  text-decoration: none;
}
body {
  margin-bottom: 100px;
}
.menu,
.header a {
  text-decoration: none;
  color: white;
}

.header {
  background-color: #1d1e20;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}
.menu {
  display: flex;
}
.menu li {
  margin-left: 10px;
}
.manu li a {
  display: block;
  padding: 10px;
}
